

html {
  font-size: 16px;
}
@media (min-width: 48rem) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  font: 1rem/1.5 "PT Sans", sans-serif;
  color: #5a5a5a;
}

a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

pre, code {
  font-size: 15px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: rgb(255, 255, 255);
}
